* {
    box-sizing: border-box;
    font-family: "微軟正黑體";
}
.box {
    display: inline-block;
    width: 500px;
    background: #3DA9C0;
    padding: 20px;
    border-radius: 5px;
}

.list {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    padding: 10 0px;
}

.comment {
    color: white;
    border-bottom: 1px #FFFFFF;
    padding: 5px 10px;
    border-bottom-style: dashed;
}
.comment:last-child {
    border: none;
}

.message {
    position: fixed;
    top: 10px;
    left: 570px;
    width: 350px;
    height: 450px;
    background: #D14747;
    color: #FFF1F1;
    border-radius: 5px;
    padding: 20px;
    overflow-y: auto;
}
.message .title {
    font-size: 36px;
}

.text {
    border: 1px solid #CECECE;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    height: 40px;
    width: 354px;
    float: left;
}

.submit {
    border: none;
    background: #f6882c;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 22px;
    line-height: 40px;
    float: left;
    margin-left: 5px;
}

.name {
    font-weight: 600;
    font-size: 26px;
}
.say {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

/*******/
.box_reply {
    width: auto;
    /*min-height: 50px;*/
    /*background: #9CABFD;*/
    margin-left: 50px;  
    padding: 10px 0;
}

.list_reply .comment .name {
    display: block;
    color: yellow;
    font-size: 20px;
}
.list_reply .comment .say {
    font-size: 16px;
    margin-left: 0px;
    cursor: initial;
}

.form_reply {
    margin-top: 10px;
}
.form_reply .text{
    float: initial;
    resize: none;
    height: 4.5em;
    padding: 5px;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form_reply .submit_reply {
    width: 100%;
    margin-left: 0px;
    display: inline-block;
    margin: 0px;
    border: none;
    position: relative;
    top: -7px;
    background: #f6882c;
    height: 35px;
    color: white;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px;
    margin: 0px;
}